<link rel="stylesheet" href="{{ asset('css/video.css') }}?v=<?= filemtime('public/css/styles.css') ?>" />

{% block body %}

<div class="project-details">
    <h2 class="project-title">Présentation du projet My Collection</h2>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pPFGJE9uiOg?si=nPvpTdvnynuJycmd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>


{% endblock %}