{% extends 'base.html.twig' %}

{% block title %}Centres d'intérets{% endblock %}

{% block body %}
<div id="toggle-dark-mode-container">
            <button id="toggle-dark-mode">
                <span id="light-icon"><img src="images/soleil.png" alt="Soleil" title="Activer le mode clair"></span>
                <span id="dark-icon"><img src="images/lune.png" alt="Lune" title="Activer le mode sombre"></span>
            </button>
        </div>

<div  class="fondpage">  
    

<!-- Section CENTRE D'INTERETS -->



   <div class="experience-content">
  
              <h1>Centres d'intérets</h1>
              <a href="{{ path('app_home') }}" title="Home">
                    <img src="{{ asset('images/maison.gif') }}" alt="Retour sur la home" class="boutonhome">
              </a>
                 
                <div class="secondparagraphe">
                    <p>Sports (basketball, tennis, Karting, running)</p>
                    <p>Photographie (mode, macro)</p>
                    <p>Cinema (thriller, action, anime)</p>
                    <p>Mode (sneakers, lifestyle)</p>
                </div>
    </div>
</div>    
{% endblock %}