{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<div id="toggle-dark-mode-container">
            <button id="toggle-dark-mode">
                <span id="light-icon"><img src="images/soleil.png" alt="Soleil" title="Activer le mode clair"></span>
                <span id="dark-icon"><img src="images/lune.png" alt="Lune" title="Activer le mode sombre"></span>
            </button>
        </div>


<div  class="fondpage">   
    <div class="experience-content">
            <h1>Formation</h1>
            <a href="{{ path('app_home') }}" class="bouton-home" title="Retour sur la home">
            <img src="{{ asset('images/maison.gif') }}" alt="Retour sur la home" class="boutonhome">
            </a>
            <h2>Titre Professionnel Développeur Web et Web Mobile<br>Niveau V - Obtenu le 04/08/2023</h2>
            <p><strong>O’CLOCK - Formation en Téléprésentiel - Labellisé Grande Ecole du Numérique<br>11/2022 - 07/2023</strong></p>
                <div class="secondparagraphe">
                    <p>700 heures intensives</p>
                    <p>3 mois de Socle ; HTML/CSS/JavaScript/PHP/MySQL</p>
                    <p>1 mois de Spécialisation : Symfony</p>
                    <p>1 mois de projet : MyCollection</p>
                    <p>1 mois de préparation au TP : rédaction des dossiers</p>
                </div>

                <h2>Diplôme des Arts Graphiques<br>Obtenu le  08/07/2004</h2>
                <p><strong>ISART DIGITAL Bastille<br>2002 - 2004</strong></p>
                <div class="secondparagraphe">
                    <p>Formation aux Arts Graphiques, Photoshop, Illustrator, Indesign, Xpress, Dreamweaver, Flash.</p>
                </div>
    </div>
</div>    
{% endblock %}







