{% extends 'base.html.twig' %}

{% block title %}Portfolio Alexandre Iob Guillard{% endblock %}

{% block body %}
<div class="centered-section">
        <img src="{{ asset('images/profil.jpg') }}" alt="Ma Photo">
        <h1>Alexandre Guillard</h1>
        <h2>Développeur Web & Web Mobile</h2>
        <p class="presentation-text">Après 15 années dans le graphisme, j’ai effectué une reconversion professionelle en tant que Développeur Web, je me suis spécialisé dans le back et plus particulièrement dans le framework Symfony.</p>
</div>

<!-- Section des 4 grands points -->
<div class="circle-section">
    <div class="circle">
        <img src="{{ asset('images/rondorange.png') }}" alt="Expérience">
        <a href="#experience">Expérience</a>
    </div>
    <div class="circle">
        <!-- Ajoutez un picto ou une photo ici -->
        <a href="#competences">Compétences</a>
    </div>
    <div class="circle">
        <!-- Ajoutez un picto ou une photo ici -->
        <a href="#formation">Formation</a>
    </div>
    <div class="circle">
        <!-- Ajoutez un picto ou une photo ici -->
        <a href="#interets">Centres d'intérêts</a>
    </div>
</div>


{% endblock %}
