{# templates/experience/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
<div  class="fondpage">   
    <div class="experience-content">
            <h1>Compétences</h1>
            <h2>Intégration Web & Web mobile</h2>
                <div class="secondparagraphe">
                    <p>HTML et CSS selon les bonnes pratiques d'accessibilité (W3C, RGAA)</p>
                </div>
                <h2>Développement Frontend</h2>
                <div class="secondparagraphe">
                    <p>Twig, Bootstrap, Javascript</p>
                </div>
                <h2>Développement Backend</h2>
                <div class="secondparagraphe">
                    <p>Symfony, Laravel, PHP (Orienté objet, MVC, API Rest, MySQL)</p>
                </div>
                 <h2>Gestion de projet Web</h2>
                <div class="secondparagraphe">
                    <p>Rédaction d’un cahier des charges, suivi technique, wireframes et user stories, versionning avec Git/GitHub</p>
                </div>
                 <h2>Graphisme</h2>
                <div class="secondparagraphe">
                    <p>Direction Artistique, Photoshop, Illustrator, Indesign, Animate C, Acrobat Pro</p>
                </div>


            
    </div>
</div>    
{% endblock %}







