/* public/css/styles.css */


.centered-section {
    text-align: center; /* Centre le texte horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    background-color: #f2f2f2; /* Couleur de fond gris clair */
    padding: 20px; /* Espace autour des informations */
}

.centered-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Ajoute une ombre légère */
    border: 5px solid rgb(51, 204, 204); /* Ajoute un filet avec la couleur RVB */
}



.centered-section h1 {
font-family: Arial, Helvetica, sans-serif;
font-size:25px;
font-weight: bold; /* Met en gras le texte du titre, si nécessaire */
}  


.centered-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    text-transform: uppercase; /* Convertit le texte en majuscules */
    color: rgb(0, 0, 0);
    
}  

.special {
    color: rgb(51, 204, 204); /* Couleur spéciale (RVB 51, 204, 204) pour "Web" et "Web Mobile" */
}



.centered-section .presentation-text {
    width: 500px; /* Largeur de 500px */
    border: 2px solid rgb(51, 204, 204); 
    border-radius: 10px; /* Bords arrondis de 10px */
    padding: 10px; /* Marge intérieure de 10px */
    font-family: Arial, Helvetica, sans-serif;
}




/* ... SECTION des 4 ICONES ... */

.circle-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centrage du texte */
    position: relative; /* Position relative pour les éléments enfants */
}

.circle a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #060000;
    position: relative; /* Position relative pour les liens */
    z-index: 2; /* Empilez le lien au-dessus du fond */
}

.circle-title {
    bottom: 0; /* Alignez-le en bas du cercle */
    left: 0;
    right: 0;
    background-color: transparent; /* Couleur de fond transparente par défaut */
    border-radius: 10px; /* Bords arrondis */
    padding: 8px 10px; /* Espace intérieur */
    opacity: 1; /* Afficher le titre dès le chargement de la page */
    transition: background-color 0.3s ease; /* Animation de couleur de fond */
    z-index: 1; /* Empilez le fond en dessous du lien */
    margin-bottom: 10px;
    
}

.circle:hover .circle-title {
    background-color: #d5d7d7; /* Couleur de fond grise au survol */
    opacity: 1; /* Afficher le fond au survol */
}

/* Styles pour l'icône animé */
.circle-icon {
    width: 150px;
    height: 150px;
}



/* ... SECTION BLOCS PROJETS ... */

.projects-container {
    background-color: #f2f2f2;
    height: 550px;
}

.projects-section {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1700px;
}

.project {
    position: relative;
    width: 500px;
    height: 325px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border: 5px solid rgb(51, 204, 204);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
}

.project img {
    width: 110%;
    height: 110%;
    object-fit: contain
}

.project a {
    text-decoration: none; /* Désactive le soulignement */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement les éléments de l'overlay */
    justify-content: center; /* Centrer verticalement les éléments de l'overlay */
    opacity: 0;
    transition: opacity 0.3s ease; /* Animation de transition */
}


.project:hover .overlay {
    opacity: 1;
}

.overlay p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-transform: uppercase;
    margin-bottom: 10px; /* Ajout d'une marge en bas */
}



/* ... SECTION BLOCS INFOS DES PROJETS ... */


.project-info {
    width: 500px;
    display: flex;
    flex-direction: column; /* Affiche les informations en colonne */
    align-items: center; /* Centrer horizontalement les informations */
    text-align: center; /* Centrer horizontalement le texte */
}


.infos-container {
    display: flex;
    justify-content: space-between; /* Espacement uniforme entre les projets */
    margin: 0 auto; /* Marge gauche et droite automatique pour centrer */
    max-width: 1700px; /* Largeur maximale de la section */
}


.project-info h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight: bold; /* Met en gras le texte du titre, si nécessaire */
    margin-bottom: 0;
    }  

.project-info p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
        }  



    /* Styles CSS pour afficher les icônes en ligne (horizontalement) */
    .project-icons {
        display: flex; /* Utilisez Flexbox pour aligner les icônes en ligne */
        align-items: center; /* Centrer verticalement les icônes */
        margin-top: 10px;
        position: relative; /* Position relative pour positionner la ligne blanche */
    }
    

    .project-icons img {
        width: 50px; /* Ajustez la largeur souhaitée */
        height: auto; /* Garde la proportion d'origine */
        margin-right: 5px;
    }

 

    .divider {
        position: absolute;
        bottom: 30%; /* Alignez la ligne blanche en bas de la ligne d'icônes */
        left: 50%; /* Alignez-la au centre horizontalement */
        transform: translateX(-50%);
        width: 90%; /* Ajustez la largeur de la ligne blanche */
        height: 60px; /* Ajustez l'épaisseur de la ligne blanche */
        background-color: #fff; /* Couleur de la ligne blanche */
        border-radius: 30px; /* Bords arrondis pour correspondre au fond de l'overlay */
    }



/* ... SECTION CONTACTS ... */


.centered-section-contact {
    text-align: center; /* Centre le texte horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    background-color: #ffffff;
    margin-top: 30px;

}

.centered-section-contact h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: x-large;
   text-transform: uppercase;
}






.contact-container {
    display: flex;
    justify-content:center; /* Espacement égal entre les éléments */
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-top: 0px;
}

.contact-info {
    
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

.contact-info p {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(51, 204, 204);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(51, 204, 204);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


/* public/css/experience.css */

.fondpage {
    background-color: #f2f2f2; /* Couleur de fond gris clair */ 
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;

}

.experience-content {
    max-width: 800px;
    margin: 50px auto 50px; /* Ajoute une marge de 50px en haut */
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    border: 5px solid rgb(51, 204, 204); 
    border-radius: 10px; /* Bords arrondis de 10px */
    padding: 50px; /* Marge intérieure de 10px */
    background-color: #ffffff;
}

.experience-content h1 {
    margin-top: -20px;
}

.experience-content h2 {
    color: rgb(51, 204, 204);
    margin-bottom: 15px;
    margin-top: 50px;
}

.experience-content p {
    margin-top: 10px;
}


.secondparagraphe {
    margin-top: 20px; /* ajuste la valeur selon l'espace souhaité */
}

.secondparagraphe p {
    list-style: none; /* Désactive la puce par défaut */
    padding-left: 20px; /* Ajoute un espace pour la puce */
    position: relative;
}

.secondparagraphe p::before {
    content: '\2022'; /* Code unicode pour un cercle plein (puce) */
    color: rgb(51, 204, 204); /* Couleur bleue de la puce */
    font-size: 1.5em; /* Taille de la puce */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px; /* Ajoute un espace entre la puce et le texte */
}

body {
    min-height: 100vh; /* 100% de la hauteur de la vue (viewport) */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*, *::before, *::after {
    box-sizing: inherit;
}






