{# templates/experience/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Expérience{% endblock %}




{% block body %}
<div id="toggle-dark-mode-container">
            <button id="toggle-dark-mode">
                <span id="light-icon"><img src="images/jour.png" alt="Soleil" title="Activer le mode clair"></span>
                <span id="dark-icon"><img src="images/nuit.png" alt="Lune" title="Activer le mode sombre"></span>
            </button>
        </div>

<div class="fondpage">
    <div class="experience-content">
            <h1>Expérience</h1>
            <a href="{{ path('app_home') }}" class="bouton-home" title="Retour sur la home">
            <img src="{{ asset('images/maison.gif') }}" alt="Retour sur la home" class="boutonhome">
            </a>
            <h2>Développeur Web - O’CLOCK</h2>
            <p><strong>Juin 2023</strong> : Projet de fin d’études</p>
                <div class="secondparagraphe">
                    <p>Développement Back-End application web</p>
                    <p>Equipe de 5 développeurs</p>
                    <p>4 semaines intensives</p>
                </div>


            <h2>Graphiste - MONDADORI / REWORLD MEDIA</h2>
            <p><strong>2007 - 08/2022</strong></p>
            <div class="secondparagraphe">
                <p>Élaboration de chartes graphiques, publicités, maquettes rédactionnelles, logos.</p>
                <p>Construction de gabarits, newsletters, dépliants.</p>
                <p>Réalisation de bannières et encarts publicitaires pour divers sites internet et réseaux sociaux.</p>
                <p>Suivi des réalisations depuis leurs créations jusqu’à leurs envois chez l’imprimeur.</p>
            </div>

            <h2>Graphiste - LATEAMPEOPLE SARL</h2>
            <p><strong>2005 - 2007</strong></p>
            <div class="secondparagraphe">
                <p>Création de supports de communication, marketing, édition et publishing dans l’évènementiel.</p>
            </div>
    </div>
</div>    
{% endblock %}
